<!DOCTYPE html>
<html lang = "hu">
<head>
  <meta charset="UTF-8">
  <title>Ügyfélkapu</title>
</head>
<body>
<header>
  <div class = "header_interactions">
    <a href = "../Pages/Get.html" class = "header_logo"><!--<img src = "./Resources/Index/iconmonstr-cube-filled-240.png"></a>--></a>
    <nav>
      <ul>
        <li><a href="./Pages/Login.html">Bejelentkezés!!!</a></li>
        <li><a href = "./Pages/Registration.html">Regisztráció</a></li>
        <li><a href = "https://ugyfelkapu.gov.hu/">Ügyfélkapu</a></li>
      </ul>
    </nav>
  </div>

  <div class = "header_inside">
    <div class = "ugyfelgate">
      <h1>Üdvözöljük az ÜgyfélKapu oldalán!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio fugiat quas!</p>
    </div>
    <div class = "header_inside_picture">
      <img src = "./Resources/Index/iconmonstr-cube-filled-240.png">
    </div>
  </div>
</header>

<div class = "contain">
  <main>
    <div class = "main_inside">
      <h2 class = "news">Hírek</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae dolorum error fuga ipsa mollitia nesciunt placeat sit? Accusamus ad amet deserunt repudiandae.</p>
    </div>
    <img src = "./Resources/Index/placeholder.png" class = "main_inside_img">
  </main>

  <aside>
    <section>
      <h3>Kiemelt híreink</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nostrum repellat rerum.</p>
    </section>
    <section>
      <h3>Kiemelt híreink</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nostrum repellat rerum.</p>
    </section>
  </aside>
</div>

<footer>
  <div class = "inside_footer">
    <div class = "creators">
      <h4>Készítették:</h4>
      <p>Hegedüs János -Backend -Frontend -DataBase<a href ="https://github.com/JaniHegedus">GitHub</a><br>Korb András <a href ="https://github.com/korbandras">GitHub</a><br>Holp Mihály <a href ="https://github.com/Link1917">GitHub</a><br>Lakatos Dominik <a href ="https://github.com/LDomy">GitHub</a></p>
    </div>
    <div class = "footer_logo">
      <ng-template wjItemTemplate let-item="item">
        <input tabindex="-1" type="checkbox"><img src="https://demos.wijmo.com/5/React/FlexGridIntro/FlexGridIntro/resources/{{item}}.png"><b>{{item}}</b>
      </ng-template>
    </div>
  </div>
</footer>
</body>
<script src = "./TS/index.ts"></script>
</html>
